.company-title-section {
  color: #fff;
  background-color: #1976d2;
  text-align: left;
  white-space: nowrap;
  min-height: 45px;
}



.appartment-filters-section {
  background: #2196f3;
  color: #fff;
}

.filter-header-view {
  min-height: 45px;
}

.filter-accordin {
  border-radius: 0px !important;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .15);
}

.filter-bg {
  background: #2196f3;
}

mat-slider {
  width: 300px;
  min-width: 300px !important;
}

.done-button {
  color: #fff;
  background-color: #1976d2;
}

.app-item-image-on-list-view {
  /* height: 130px; */
  width: 12rem;
}

.app-item-image-on-list-view-mobile {
  /* height: 130px; */
  width: 10rem;
}

.sticky-top-panel {
  position: absolute;
  top: 0;
  /* background-color: white; */
  z-index: 10;
}

.listing-margin-top {
  margin-top: 90px;
}

.mat-chip-wrapper-max-width-mobile {
  max-width: 155px !important;
}


@media (max-width: 992px) {
  ::ng-deep .mat-chip-list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: -4px;
    max-width: 170px;
  }
}
