<div class="container-fluid px-0">
  <div class="row d-flex align-items-center w-100 mx-0 px-2 company-title-section">
    Cindy Little | Apartments Agent
  </div>
  <!-- filters section -->
  <mat-accordion class="filter-accordin">
    <mat-expansion-panel class="filter-accordin filter-bg">
      <mat-expansion-panel-header class="appartment-filters-section filter-header-view">
        <mat-panel-title class="">
          Filters
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- filters contents -->
      <div class="row d-block w-100 mx-0 pb-2 appartment-filters-section">
        <label class="pb-2">Rents</label>
        <div class="w-100 d-flex justify-content-between">
          <div class="card w-75 d-flex align-items-center">
            <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" step="1000" min="0" max="100000"
              aria-label="units"></mat-slider>
          </div>
          <button mat-stroked-button class="done-button" color="primary">DONE</button>
        </div>

        <mat-divider class="my-4"></mat-divider>

        <label class="pb-2">Bedrooms</label>
        <div class="w-100 d-flex justify-content-between">
          <div class="card w-75 d-flex align-items-center color-black">
            <section class="my-auto">
              <mat-checkbox class="mx-1">Studio</mat-checkbox>
              <mat-checkbox class="mx-1">1 Bed</mat-checkbox>
              <mat-checkbox class="mx-1">2 Bed</mat-checkbox>
              <mat-checkbox class="mx-1">3 Bed</mat-checkbox>
            </section>
          </div>
          <button mat-stroked-button class="done-button" color="primary">DONE</button>
        </div>

      </div>
      <!-- filters contents -->
    </mat-expansion-panel>
  </mat-accordion>
  <!-- filters section -->

</div>
