<div class="container-fluid px-0 overflow-x-hidden">
  <div class="row d-flex justify-content-between align-items-center w-100 mx-0 px-2 company-title-section">
    <button mat-icon-button>
      <mat-icon class="color-white font-x-large" matTooltip="Back to results" [routerLink]="'/'">arrow_backward
      </mat-icon>
    </button>
    <button mat-fab class="favourite-icon-bg-color">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
  <div class="row w-100 mx-0 py-2 listing-item-header">
    <span class="w-100 mb-2 d-flex align-items-center">
      <label class="color-white d-flex align-items-center">
        jlksjflksd
      </label>
      <mat-icon class="mx-2">public</mat-icon>
    </span>

    <label class="w-100 color-white font-small"> skjdfksldd</label>
  </div>

</div>
